# Maven build optimizations
-B
-q
-T 2C
--fail-fast
--no-transfer-progress
-Dorg.slf4j.simpleLogger.showDateTime=false
-Dorg.slf4j.simpleLogger.showThreadName=false
-Dorg.slf4j.simpleLogger.showLogName=false
-Dmaven.repo.local=/root/.m2/repository
-Dmaven.wagon.http.retryHandler.count=2
-Dmaven.wagon.httpconnectionManager.ttlSeconds=25